step_functions/process_images_state_machine/definition.json
{
  "Comment": "Process event images pipeline with nested Map States for chunked processing",
  "StartAt": "ListImages",
  "States": {
    "ListImages": {
      "Type": "Task",
      "Resource": "${LIST_IMAGES_HANDLER_ARN}",
      "Next": "ProcessChunks"
    },
    "ProcessChunks": {
      "Type": "Map",
      "ItemsPath": "$.chunks",
      "ResultPath": null,
      "MaxConcurrency": 10,
      "Parameters": {
        "chunk.$": "$$.Map.Item.Value",
        "eventId.$": "$.eventId",
        "requestId.$": "$.requestId"
      },
      "Iterator": {
        "StartAt": "ProcessImages",
        "States": {
          "ProcessImages": {
            "Type": "Map",
            "ItemsPath": "$.chunk",
            "ResultPath": null,
            "MaxConcurrency": 100,
            "Parameters": {
              "eventId.$": "$.eventId",
              "fileId.$": "$$.Map.Item.Value.fileId",
              "requestId.$": "$.requestId"
            },
            "Iterator": {
              "StartAt": "ExtractBibNumber",
              "States": {
                "ExtractBibNumber": {
                  "Type": "Task",
                  "Resource": "${EXTRACT_BIB_NUMBER_HANDLER_ARN}",
                  "End": true
                }
              }
            },
            "End": true
          }
        }
      },
      "Next": "ProcessingComplete"
    },
    "ProcessingComplete": {
      "Type": "Task",
      "Resource": "${IMAGE_PROCESSING_COMPLETION_HANDLER_ARN}",
      "End": true
    }
  }
}
